streamlit~=1.31.1
streamlit-authenticator>=0.3.1
PyYAML~=6.0.1
bcrypt~=3.2.0
langchain==0.1.9
langchain-openai==0.0.8
langchain-community==0.0.24
azure-core==1.30.1
azure-identity==1.15.0
azure-keyvault-secrets==4.8.0